
.best-selling p {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.card_content {
  box-shadow: 0 0 10px #b181c7;
}
.card_content img {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 5px #abccaa;
}
