.products-button{
    border: none;
    padding: 8px 30px;
    color: #fff;
    background: #34016a ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.products-button-square{
    border: none;
    padding: 8px 30px;
    color: #fff;
    background: #34016a ;
    border: none;
    cursor: pointer;
}

.products-button:hover{
    background: #45a049;
}