@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
#contact {
  font-family: "Mukta", sans-serif;
}
.contact-container {
  width: 40%;
  margin: auto;
}
.contact-heading {
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}

input[type="text"],input[type="email"],input[type="phone"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  resize: vertical;
  box-shadow: 0 0 5px #333;
}

label {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.contact-button {
  border: none;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  background: #651585;
}
.contact-button:hover {
  background: #45a049;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
